.footer {
    width:100%;
    // position: fixed;
    bottom: 0;
    overflow: hidden;
    position: relative;
    z-index: 111111111111111;

    &__background {
        width:100%;
        display: block;
    }

    &__container {
        position: relative;
    }

    &__filter {
        height: 100%;
        background-image: linear-gradient(-180deg, rgba(98, 98, 98, 0) 0%, rgba(65, 65, 65, 0.98) 54%, #333333 79%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__newsletter {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);

        @include mobile {
            transform: translateX(-50%) scale(0.7);
            top: 3%;
            left: 50%;
        }
    }
}

.newsletter {
    &__title {
        /* Newsletter: */
        font-family: 'Montserrat', sans-serif;
        font-size: 72px;
        color: #FFFFFF;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 10px;
    }

    &__container {
        position: relative;
    }

    &__input {
        font-family: 'Cormorant', serif;
        font-size: 24px;
        border:0px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
        border-radius: 3px;
        width: 100%;
        padding: 15px 15px;
        box-sizing: border-box;
    }

    &__submit {
        position: absolute;
        right: 0;
        top:52%;
        transform: translateY(-50%);
        right: 15px;
        background:none;
        border:none;

        svg {
            width:40px;
        }
    }

    &__left {
        flex:1;
        margin-top: 10px;
    }

    &__right {
        flex:1;
        text-align:right;
    }

    &__content {
        position: absolute;
        bottom: 95px;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        display: flex;

        @include mobile {
            position: relative;
            padding: 0 10px;
            left: auto;
            transform: translateX(0);
            bottom:0;
        }

        &__title {
            font-family: 'Cormorant', serif;
            font-size: 64px;
            color: #FFFFFF;
            letter-spacing: 0px;

            @include mobile {
                font-size: 40px;
            }
        }

        &__baseline {
            opacity: 0.5;
            font-family: 'Cormorant', serif;
            font-size: 24px;
            color: #FFFFFF;
            letter-spacing: 0px;

            @include mobile {
                font-size: 18px;
            }
        }
    }
}

.list{
    position: relative;
    right: 0;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

    @include mobile {
        right: 10px;
    }

    &__container {
        display: inline-block;
        margin-right: 60px;
        text-align:left;

        @include mobile {
            margin-right: 10px;
            font-size: 12px;
        }
    }

    &__item {
        display: block;
        /* CONTACT: */
        font-size: 16px;
        color: #C6C6C6;
        letter-spacing: 0px;
        margin-top: 15px;

        @include mobile {
            font-size: 12px;
            margin-bottom: 20px;
        }
    }
}
